.gradle/
build/
node_modules/
local.properties
*.iml
.idea/
app/google-services.json
functions/lib/
functions/node_modules/
functions/.runtimeconfig.json
tools/node_modules/
reports/
firebase-debug.log
